altgraph==0.17.4
bottle==0.13.3
packaging==25.0
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.4
pyparsing==3.2.3
pywebview==6.2.1
tenacity~=8.1.0
typing_extensions==4.13.2

cyclopts~=4.22
platformdirs~=4.3
requests~=2.27.1
toml~=0.10.2
