@import "element-plus/dist/index.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Inter", sans-serif;
}

#app {
  height: 100%;
}

.el-dialog {
  border-radius: 16px;
}

.el-dialog__header {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.el-message-box {
  border-radius: 16px;
}

/** Reverses button order on ElMessageBoxes */
.el-message-box__btns {
  flex-direction: row-reverse;
  justify-content: flex-start;
}
